<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Khula:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Heebo:900|Raleway:100" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <title>Create Patient</title>
</head>


<body>

    <div id="textArea">
        <h1>Log<span class="greenText">in</span></h1>
    </div>

    <ul>
        <li><a href="{% url 'HNApp:index' %}"> Home </a></li>
        <li><a href="/accounts/logout"> Logout </a></li>

    </ul>

    {% block content %}
    <div>
        <form action="/accounts/profile/" method="post">{% csrf_token %} {{form.as_ul}}
            <input type="submit" value="Update" />
        </form>
    </div>
    {% endblock %}

</body>

</html>