<!DOCTYPE html>
{% load tags %}
<html lang="en">
<head>
	{% include 'head.html' %}
    <title>Health Net | View Profile</title>
</head>

<style>
#sectionHeading {
    background-color: #38435B;
    width: 70%;
    margin: 2% 0% 0% 15.4%;
    padding: 2% 0% 0% 0%;
    float: left;
}

#sectionText {
    background-color: #475676;
    width: 70%;
    margin: 0% 0% 0% 15.4%;
    padding: 2% 0% 0% 0%;
    float: left;
}
</style>

<div class="wrap">

	{% include 'navbar.html' %}

	<div id="sectionHeading">
		<h2>View Profile</h2>
	</div>

	<div id="sectionText">
        {% if patient %}
        <p>Name: {{patient.first_name}} {{patient.last_name}}</p>
        <p>Date of Birth: {{patient.dob.strftime}}</p>
        <p>Contact Information: {{patient.contact_info}}</p>
        <p>Allergies: {{patient.allergies}}</p>
        {% else if doctor %}
        <p>Name: {{doctor.first_name}} {{doctor.last_name}}</p>
        <p>Date of Birth: {{doctor.dob.strftime}}</p>
        {% else if nurse %}
        <p>Name: {{nurse.first_name}} {{nurse.last_name}}</p>
        <p>Date of Birth: {{nurse.dob.strftime}}</p>
        {% else %}
        <p>It looks like you haven't logged in. Click login.</p>
        {% endif %}
	</div>


	</div>

</html>