<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	{% include 'head.html' %}
    <title>Health Net | 404</title>
    <style>
    #sectionHeading {
        background-color: #38435B;
        width: 70%;
        margin: 2% 0% 0% 15.4%;
        padding: 2% 0% 0% 0%;
        float: left;
    }

    #sectionText {
        background-color: #475676;
        width: 70%;
        margin: 0% 0% 0% 15.4%;
        padding: 2% 0% 0% 0%;
        float: left;
    }
    </style>
</head>
<body>
<div class="wrap">

	<div id="textArea">
		<h1>Health<span class="greenText">Net</span></h1>
	</div>

	<ul>
		<li> <a class="active" href="/"> Home </a></li>
		<li><a href=""> Login </a></li>
		<li><a href="/patient-signup"> Sign Up </a></li>
	</ul>

	<div id="sectionHeading">
		<h2> 404: Page Not Found </h2>
	</div>

	<div id="sectionText">
		<p> Looks like you got lost. </p>
	</div>
</div>
</body>
</html>